{% block sw_cms_block_tecsafe_ofcp %}
    <div style="display: flex; justify-content: center; background-color: #ffcccc; padding: 10px; border: 1px solid #ff0000; margin-top: 1rem; margin-bottom: 1rem">
        <p>TECSAFE OFCP</p>
    </div>
{% endblock %}
