parameters:
    level: 0

    bootstrapFiles:
        - %currentWorkingDirectory%/vendor/autoload.php
    paths:
        - %currentWorkingDirectory%
    excludePaths:
        - %currentWorkingDirectory%/shopware-source/
        - %currentWorkingDirectory%/src/Tecsafe/Api/Generated/
        - %currentWorkingDirectory%/tests/
        - %currentWorkingDirectory%/var/
        - %currentWorkingDirectory%/vendor

    ignoreErrors:
        - '#apcu_#'
        - '#ioncube_#'
        - '#opcache_#'
        - '#imagettftext#'
        - '#class Redis#'
        - '#Constant STARTTIME#'

    reportUnmatchedIgnoredErrors: false
    tipsOfTheDay: false
