<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_el_ofcp_product_detail_widget_preview %}
<div class="sw-cms-el-preview-ofcp-product-detail-widget">
    <img
        class="sw-cms-el-preview-ofcp-product-detail-widget__img"
        :src="assetFilter('/static/img/cms/Tecsafe_Logo.png')"
        alt=""
    >
</div>
{% endblock %}
