<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Authentication</title>
        <input-field type="text">
            <name>salesChannelSecretId</name>
            <label>SalesChannel Secret ID</label>
            <label lang="de-DE">SalesChannel Secret ID</label>
        </input-field>
        <input-field type="password">
            <name>salesChannelSecretKey</name>
            <label>SalesChannel Secret Key</label>
            <label lang="de-DE">SalesChannel Secret Key</label>
        </input-field>
        <input-field>
            <name>shopApiGatewayUrl</name>
            <label>Shop API Gateway URL</label>
            <defaultValue>http://cockpit.ofcp.test:8080/</defaultValue>
        </input-field>
        <input-field type="url">
            <name>appUrl</name>
            <label>App URL</label>
            <label lang="de-DE">App URL</label>
            <defaultValue>http://app.ofcp.test:8080/</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Advanced Settings</title>
        <title lang="de-DE">App-URL</title>
        <input-field type="url">
            <name>appUrl</name>
            <label>App URL</label>
            <label lang="de-DE">App URL</label>
            <defaultValue>http://app.ofcp.test:8080/</defaultValue>
        </input-field>
    </card>
</config>
