{% block sw_cms_preview_tecsafe_ofcp %}
    <div style="display: flex; justify-content: center; background-color: #ffcccc; padding: 10px; border: 1px solid #ff0000">
        <p>TECSAFE OFCP</p>
    </div>
{% endblock %}
