<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_ofcp_product_detail_preview %}
<div class="sw-cms-preview-ofcp-product-detail">
    <img
        class="sw-cms-preview-ofcp-product-detail__img"
        :src="assetFilter('/madtecsafe/administration/static/img/cms/Tecsafe_Logo.png')"
        alt=""
    >
</div>
{% endblock %}
