{% sw_extends '@Storefront/storefront/page/checkout/checkout-item.html.twig' %}

{% block page_checkout_item_info_image_link %}
    {% if lineItem.type != 'tecsafe-ofcp' %}
        {{ parent() }}
    {% else %}
        <button onclick="window.postMessage('tecsafe:ofcp:open:cart', window.origin)">Open OFCP Cart</button>
    {% endif %}
{% endblock %}
